* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  box-shadow: 10px 40px 80px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}
button span {
  background: var(--i);
  width: 40px;
  height: 40px;
}
